@charset "UTF-8";

body {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 10px;
}

.noto-sans-h1 {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: Italic;
	font-variation-settings:
	  "wdth" 100;
}

.error {
	display: none;
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}